body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }

  p {
    color: black;
    text-align: center;
    line-height: 30px;
  }

  .subhead {
    font-size: 10px;
    color: slategrey;
    text-align: center;
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #818c79;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #8c8581;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  
  /*footer css*/
  li {
    display: inline;
    float: left;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
  }
  li a {
    display: block;
    padding: 15px;
  }